---
import { Badge } from "@/components/ui/badge";
import DashboardLayout from "@/layouts/DashboardLayout.astro";
---


<DashboardLayout>
     <div class="flex gap-4">
      <Badge capitalize>default</Badge>
      <Badge variant="destructive">destructive</Badge>
      <Badge variant="secondary">secondary</Badge>
      <Badge variant="outline">destructive</Badge>
      <Badge capitalize variant="info">info</Badge>
      <Badge capitalize variant="success">success</Badge>
     </div>
  </DashboardLayout>